{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}URL Shortner{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'app/base.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="auth-page">
    {% block content %}{% endblock %}
</div>
{% block extra_body %}{% endblock %}
</body>
</html>
